/* 
    Document   : styles
    Created on : Nov 1, 2011, 12:52:39 PM
    Author     : daniel
    Description:
        Purpose of the stylesheet follows.
*/

#content {
    font: 14px Arial,sans-serif;
    margin: 15px auto;
    width: 880px;
}

#content > h1 {
    text-align: center;
    font-size:32px;
    letter-spacing: 0.24em;
}

